5_Symbols/n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "05c91180-4e19-4ccd-8917-658a96008ad9",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -16
      ],
      "id": "0f3c9049-b2d8-4da2-b421-f8493803a077",
      "name": "Webhook",
      "webhookId": "05c91180-4e19-4ccd-8917-658a96008ad9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        -224
      ],
      "id": "d56beef7-efba-42da-9f9b-5d29eff7d240",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "chatId": "-1002793496878",
        "text": "=✅ New LinkedIn post ready for review!\n\n📊 Content Stats:\n• Characters: {{ $('AI Agent - Generate Content').item.json.contentMetrics.characterCount }}\n• Words: {{ $('AI Agent - Generate Content').item.json.contentMetrics.wordCount }}\n• Hashtags: {{ $('AI Agent - Generate Content').item.json.contentMetrics.hashtags }}\n• Emojis: {{ $('AI Agent - Generate Content').item.json.contentMetrics.emojis }}\n\n📝 Original Prompt: {{ $('AI Agent - Generate Content').item.json.originalPrompt }}\n\n🔗 Platform: {{ $('AI Agent - Generate Content').item.json.platform }}\n📌 Status: {{ $('AI Agent - Generate Content').item.json.status }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        -16
      ],
      "id": "83d1397d-f533-49b2-bb12-cb595190e123",
      "name": "Send ON Notification",
      "webhookId": "40ac5ce8-4444-4737-98d7-8f29ca248a8c",
      "credentials": {
        "telegramApi": {
          "id": "FNhCBbEpIegop14Z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## LinkedIn Content Magician\n* Receives structured input with timestamp, original prompt, and content metrics\n* Uses AI Agent to generate LinkedIn post content\n* Leverages RAG sources for content enhancement\n* Validates content metrics (character count, hashtags, emojis)\n* Sends notification with full content statistics\n* Returns ready-for-review status",
        "height": 560,
        "width": 1696
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -272
      ],
      "typeVersion": 1,
      "id": "429821bb-2dd6-4406-ae71-a15c28af06fc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -16,
        32
      ],
      "id": "b0232a5e-f28b-468d-9244-e178bc14d843",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "e95QbimUJvBb4tqj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an engaging LinkedIn post based on the following information:\n\n📋 Original Prompt: {{ $json.body.originalPrompt }}\n\n📊 Target Metrics:\n- Character Count: ~{{ $json.body.contentMetrics.characterCount }}\n- Word Count: ~{{ $json.body.contentMetrics.wordCount }}\n- Hashtags: {{ $json.body.contentMetrics.hashtags }}\n- Emojis: {{ $json.body.contentMetrics.emojis }}\n\n🔍 RAG Sources to reference:\n{{ $json.body.ragSources ? $json.body.ragSources.join(', ') : 'No sources provided' }}\n\n📝 Platform: {{ $json.body.platform }}\n📅 Content Type: {{ $json.body.contentType }}\n\nCreate professional, engaging content that:\n1. Addresses the original prompt effectively\n2. Meets the target metrics\n3. Uses appropriate hashtags and emojis\n4. Is optimized for {{ $json.body.platform }}\n5. References RAG sources when relevant\n\nReturn the generated content in the same JSON structure with updated 'generatedContent' field and actual metrics achieved.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        64,
        -176
      ],
      "id": "91b55178-07f1-4d20-80c4-86be79798ed8",
      "name": "AI Agent - Generate Content"
    },
    {
      "parameters": {
        "content": "## Input Expected\n\n{\n  \"timestamp\": \"2025-10-25T...\",\n  \"source\": \"LinkedIn Content Magician\",\n  \"originalPrompt\": \"user input\",\n  \"generatedContent\": \"AI-generated post\",\n  \"ragSources\": [\"source1\", \"source2\", ...],\n  \"contentMetrics\": {\n    \"characterCount\": 450,\n    \"wordCount\": 85,\n    \"hashtags\": 3,\n    \"emojis\": 8\n  },\n  \"platform\": \"linkedin\",\n  \"contentType\": \"post\",\n  \"status\": \"ready_for_review\"\n}",
        "height": 432,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        -80
      ],
      "typeVersion": 1,
      "id": "3aa6cf53-adfe-45a6-babd-5bf22bdd5af9",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent - Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send ON Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Generate Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Generate Content": {
      "main": [
        [
          {
            "node": "Send ON Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3df7c7c6cb7e0e978bf80ded11fce953795594ae8fe07b63ac449418b447c9e7"
  }
}